html,
body {
	min-height: 100vh;
}

#__next {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
	background: transparent linear-gradient(180deg, #FFECD7 0%, #FFC9C9 100%) 0% 0% no-repeat padding-box;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
